.ayuda {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
}
.carta-de-ayuda {
  width: 70%;
  height: auto;
  margin: 0;
}

.imagen-ayuda img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
iframe {
  height: 10rem;
  width: 70%;
}
h2 {
  color: white;
}
body{
  background-color: #AA1235;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23880e2a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23660b20' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23440715' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2322040b' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
