.contenedor-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.contenedor-principal{
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 5px;
    padding: 1rem;
    
}

.ContenedorCarrito {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.342);
}


.ContenedorCarrito::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

.ContenedorCarrito::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .ContenedorCarrito::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 5px;
  }
  


.titulo-compras{
    border-bottom: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ffffff ;
    width: 100%;
    margin: 1rem 0;    
    
}

.titulo-compras h3{
    color: white;
}


.Carrito {
    width: 100%;
    height: 80%;
    
    
}

.imagen_producto {
    width: 100%;
    height: auto;
   
}


.carta_producto {
    height: 50%;
    width: 20vw;
    object-fit: scale-down;
}

.tarjetaProducto{
    height: 15rem;
    object-fit: cover;
}

.total-compras {
    border-bottom: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid white ;
    width: 100%;
    margin: 1rem 0;  
}

.total-compras h2{
    color: white;
}