.cont-principal {
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-registro {
    width: 65%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    align-items: center !important;
    justify-content: space-evenly;
}

.form-registro img{
    height: 90%;
}

body{
    background-color: #AA1235;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23880e2a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23660b20' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23440715' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2322040b' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}


@media screen and (max-width: 1000px) {

    .form-registro img{
        display: none;
    }
    .form-registro {
        width: 100%;
    }
}