* .superior {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.quienes-somos {
  text-align: center;
  color: #fff;
}

.superior-derecho {
  width: 50%;
  height: 80%;
  margin-top: 5rem;
}

.superior-derecho img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-bottom: 0;
}

.separador-texto {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c2c2c; /* Rojo oscuro */
  color: #fff; /* Blanco */
  padding: 5px;
  box-shadow: 2px 2px 5px #000; /* Negro */

}

.separador-texto h2 {
  color: #fff;
}

.miembros {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  flex-wrap: wrap;
}

.miembros {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.miembros img {
  color: white;
  width: 200px;
  border-radius: 100%;
  border: 5px solid black;
  transition: 0.4s;
}

.miembros img:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 6px black, 0 0 1em blue, 0 0 0.2em #d62826;
}

.miembros h2:hover {
  text-shadow: 3px 3px 6px black, 0 0 1em blue, 0 0 0.2em #d62826;
  transform: scale(1.1);
}

.miembros h2 {
  color: #fff;
  margin: 5px;
  text-align: center;
  transition: 0.4s;
}

.proyecto {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 4rem 0;
}

.blare {
  color: white;
  text-align: center;
  text-shadow: 3px 3px 6px black, 0 0 1em blue, 0 0 0.2em #d62826;
  font-size: 10rem;
}

.iconproyect {
  display: flex;
  justify-self: center;
  align-items: center;
  margin: 2rem auto;
}

body {
  background-color: #AA1235;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23880e2a' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23660b20' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23440715' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%2322040b' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23000000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}


/* -------------------------------*/
article {
  position: relative;
  width: 250px;
  transition: all .3s ease;
}

article img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

article p:last-child{
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: .3s ease;
  opacity: 0;
}

article:hover {
  transform: 
  perspective(250px)
  rotateX(180deg);
}

article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(bottom, transparent 10%, rgba(0,0,0, 0.5) 50%, rgba(0,0,0) 95%);
  opacity: 0;
  transition: all .3 ease;
}

article:hover::before {
  opacity: 1;
}

article:hover p:last-child {
  opacity: 1;
  transform: translateY(10%);
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transform: 
  perspective(250px)
  rotateX(180deg);
  
}


.parrafoEmergente {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 3px 3px 6px black, 0 0 1em blue, 0 0 0.2em #d62826;
  color: black;
}